/*Enables us to use a font outside of the web safe fonts*/
/*downloaded from https://www.fontfabric.com/fonts/bebas-neue/*/
@font-face {
    font-family: Regular Font; /*What we will call our font*/
    src: url("font/BebasNeue/BebasNeue-Bold.otf");/*where our font can be located*/
}

@font-face {
    font-family: Book Font; /*What we will call our font*/
    src: url("font/BebasNeue/BebasNeue-Book.otf");/*where our font can be located*/
}

@font-face {
    font-family: Light Font; /*What we will call our font*/
    src: url("font/BebasNeue/BebasNeue-Light.otf");/*where our font can be located*/
}


/*downloaded from https://www.dafontfree.io/avenir-font/*/
@font-face {
    font-family: Avenir Font; /*What we will call our font*/
    src: url("font/Avenir/AvenirLTStd-Book.otf");/*where our font can be located*/
}

html, body {
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
}


body {
	background-color: white; /*Enables us to to change color of the webpage's body*/


}

p {
	color: #455A64;
	font-size: 20px;
	font-family: Avenir Font;

}



h3 {
	color: #03A9F4;
	font-family: Light Font;
}

h1.center-align {
	font-family: Book Font;
	letter-spacing: 3px;
	font-size: 48px;
	color: #2196F3;
	padding-bottom: 20px;
}

.light-font {
	font-family: Light Font;
	font-size: 36px;
	letter-spacing: 2.5px;
}

.center-align {
	text-align: center; /*enables us to move h1 element to center*/
}

.navbar {
	overflow: hidden;
	background-color: #2196F3;
  	width: 100%;
  	padding-top: 30px;
  	position: absolute;
}

.navbar a {
  	float: right;
  	color: white;
  	padding-left: 15px;
  	padding-right: 15px;
  	text-decoration: none;

}

.navbar a:hover {
  color: #03A9F4;
  transition: all 0.3s;
}

.navbar a.active {
  color: white;
  text-decoration: underline;
}

.navbar img {
	right: 500px;
	border-radius: 50%;
 	width: 75px;
 	height: 75px;
}

.front-page {
	background-color: #2196F3;
}

.main-page {
	background-color: #2196F3;
	height: 43%;
}

.content {
	color: white; /*Enables us to to change color of the element*/
	font-family: Regular Font; /*allows us to use the font that we had named and located earlier*/
	padding-top: 35px;
}
.content h1 {
	font-size: 120px;
}

.content img {
	position: relative;
	bottom: 115px;
	width: 500px;
	height: 337px;
}

.content hr {
	position: relative;
	top: -90px;
	width: 60%;
	border: 3px solid white;
}

hr + p {
	position: relative;
	top: -110px;
	color: white;
	font-family: Book Font;
	font-size: 2.5em;
}

.container {
	padding-left: 30%;
	padding-right: 30%;
}

#profile {
	margin-top: 3%;
	padding-bottom: 10px;
	padding-top: 10px;

}


#profile img {
	border-radius: 50%;
  	display: block;
  	width: 200px;
  	height: 200px;
  	margin-left: auto;
  	margin-right: auto;
}

#bubble {
	margin-top: 3%;
	padding-bottom: 10px;
	padding-top: 10px;

}


#bubble img {
	border-radius: 50%;
  	display: block;
  	width: 225px;
  	height: 210px;
  	margin-left: auto;
  	margin-right: auto;
}



.navbar-left {
	position: relative;	
  	float: left;
  	left: 5%;
  	top: -10px;
  	transition: all 0.5s;
}

.navbar-left:hover {
	transform: scale(1.2);
}

.gallery {
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 100px;

}

  .gallery img {
	width: 20%;
	height: 30%;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 30px;
	margin-bottom: 10px;
	transition: all 0.5s;
  }

  .closeup:hover {
 
  transform: scale(1.2);
  }

#hobbies img{
	width: 200px;
  	height: 200px;
  	float: left;
  	position: relative;
  	left: -50px;

}

#travel img{
	width: 200px;
  	height: 200px;
  	float: right;
  	position: relative;
  	right: -50px;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #EEEEEE;
  border-radius: 50%;
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 25px;



}

.footer p {
	color: white;
	position: relative;
	bottom: -140px;
	font-size: 12px;
}

.footer a:link {
	color: white;
}

.footer a:visited {
	color: white;
}

.footer {
	clear: both;
    position: relative;
    height: 175px;
    margin-top:0px;
	background-color: #2196F3;
	text-align: center;
	margin-top: 80px;

}

li {
	color: #455A64;
	font-size: 20px;
	font-family: Avenir Font;
}


.gallery + .container {
	padding-left: 23%;
	padding-right: 23%;
}


.squeeze {
    display: block;  /* Remove bullet points; allow greater control of positioning */
    padding: 0;      /* Override defaults for lists */
    margin-bottom:0px;       /* Override defaults for lists */
}

.squeeze li {
    display: inline-block; /* Get all images to show in a row */
    width: 32%;            /* Show 4 logos per row */
    text-align: center;    /* Centre align the images */
    margin-bottom: 30px;
}


@media screen and (max-width: 700px) {
  .navbar a, .navbar-left{
    float: none;
    text-align: center;
  }

  .navbar-left {
  	display: none;
  }


	h1.center-align + #hobbies img {
	  	float: none;
	  	position: relative;
	  	left: 0px;
	}


	div.center-align + #travel img{
	  	float: none;
	  	position: relative;
	  	right: 0px;
	}

	.squeeze li {
		width: 100%;
	}

	.gallery img {
		width: 85%;
		height: 85%;
		margin-left: 3%;
		margin-right: 3%;
		margin-top: 30px;
		margin-bottom: 10px;
		transition: all 0.5s;
  	}



}


li a:link {
	color: #455A64;
}


li a:visited {
	color: #455A64;
}

#sideNav a {
  position: fixed;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0);
  font-size: 20px;
  border-radius: 0 5px 5px 0;
  border: 2px solid white;
}

#sideNav a:hover {
  left: 0;
  color: white;
}

#background {
  top: 350px;
  background-color: #2980b9;
}

#hsc {
  top: 420px;
  background-color:  #e67e22;
}

#computer {
  top: 490px;
  background-color: #27ae60; 
}

#work {
  top: 560px;
  background-color: #e74c3c;
}

#background-section {
	background-color: #2980b9;

}

#hsc-section {
	background-color: #e67e22;


}

#computer-section {
	background-color: #27ae60;


}

#work-section {
	background-color: #e74c3c;

}

#hsc-section , #computer-section, #work-section, #background-section {
	overflow: hidden;
	height: 100%;
	width: 100%;

}

#hsc-section p, #computer-section p, #work-section p, #background-section p {
	color:white;
	font-family: Avenir Font;
	font-size: 20px;

}

#hsc-section h1, #computer-section h1, #work-section h1, #background-section h1 {
	padding-top: 50px;
	padding-bottom: 0px;
	margin: 0;
	color:white;
	font-size: 48px;

}



.less-strict-container {
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 30px;

}

p.less-strict-container +  img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%

}

